networks:
  web:
    external: true

services:

  nginx:
    build:
      context: services/nginx
      dockerfile: docker/Dockerfile
    environment:
      - ENV_DOMAIN=${ENV_DOMAIN}
      - ENV_CONTAINER_PHP_FPM=${ENV_CONTAINER_PHP_FPM}
    env_file:
      - .env
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`${ENV_DOMAIN}`)"
      - "traefik.http.routers.nginx.entrypoints=web"
    networks:
      - web
    volumes:
      - ./services/nginx/conf.d:/etc/nginx/conf.d
      - ./services/nginx/logs:/var/log/nginx
      - ./services/nginx/templates/default.conf.template:/etc/nginx/templates/default.conf.template
      - ./services/php/src:/var/www/src

  php-fpm:
    build:
      context: services/php
      dockerfile: docker/Dockerfile
    environment:
      - ENV_DOMAIN=${ENV_DOMAIN}
      - ENV_CONTAINER_PHP_FPM=${ENV_CONTAINER_PHP_FPM}
    env_file:
      - .env
    networks:
      - web
    volumes:
      - ./services/php/src:/var/www/src

  postgres:
    build:
      context: services/postgresql
      dockerfile: docker/Dockerfile
    tty: true
    volumes:
      - postgres.data:/var/lib/postgresql/data
      - ./services/postgresql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    env_file:
      - .env
    ports:
      - '5432:5432'
    networks:
      - web

  traefik:
    build:
      context: services/traefik
      dockerfile: docker/Dockerfile
    command:
      - "--accesslog=true"
      - "--accesslog.filepath=/var/log/traefik/access.log"
      - "--api.insecure=true" # Optional: to access the Traefik dashboard
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "8080:8080" # Optional: to access the Traefik dashboard
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web

volumes:
  postgres.data:
    external: true